.notificator {
    position: fixed;
    left: 50%;
    color: white;
    background-color: grey;
    top: -20%;
    opacity: 0;
    transition: top .5s, opacity .5s, background-color .5s;
}

.notificator.error {
    background-color: red;
}

.notificator.success {
    background-color: green;
}

.show {
    top: 5%;
    opacity: 1;
}
