<div class="user-login">
  <form action="">
    <span>Login: </span>
    <input
            name="name"
            type="text"
            #userInputLogin
            (input)="getLocalVars()"
            [(ngModel)]="inputName"
    >
    <br>
    <span>Password: </span>
    <input
            name="password"
            type="password"
            #userInputPassword
            (input)="getLocalVars()"
            [(ngModel)]="inputPassword">
    <button
            (click)="getLocalVars()">
                Submit
    </button>
    <p>{{userInputLogin.value}} - {{userInputPassword.value}}</p>
    <p>{{inputName}} - {{inputPassword}}</p>
  </form>
</div>
