<div class="user-login">
    <form action="" *ngIf="!userLoggedIn">
        <span>Login: </span>
        <input
            name="name"
            type="text"
            placeholder="enter user name"
            (focus)="$event.target.select()"
            [(ngModel)]="userName"
        >
        <br>
        <span>Password: </span>
        <input
            name="password"
            type="password"
            placeholder="enter user password"
            (focus)="$event.target.select()"
            [(ngModel)]="userPassword"
        >
        <button
            (click)="submitLogin()">
                Submit
        </button>
    </form>
    <div class="user-loggedIn" *ngIf="userLoggedIn">
        <p>
            Hi, {{userName}}!
        </p>
        <p
            class="user-logout"
            (click)="logout()">
                Logout
        </p>
    </div>
</div>
