<div class="user-login">
    <app-loader *ngIf="loader"></app-loader>
    <app-notificator></app-notificator>
    <form action="" *ngIf="!userLoggedIn">
        <span>Login: </span>
        <input
            name="name"
            type="text"
            placeholder="enter user name"
            (focus)="$event.target.select()"
            [(ngModel)]="userLogin"
        >
        <br>
        <span>Password: </span>
        <input
            name="password"
            type="password"
            placeholder="enter user password"
            (focus)="$event.target.select()"
            [(ngModel)]="userPassword"
        >
        <button
            (click)="submitLogin()">
                Submit
        </button>
    </form>
    <div class="user-loggedIn" *ngIf="userLoggedIn">
        <p>
            Hi, {{userName}}!
        </p>
        <p
            class="user-logout"
            (click)="logout()">
                Logout
        </p>
    </div>
    <p (click)="check1()">check 1</p>
    <p (click)="check2()">check 2</p>
</div>
