<app-notificator></app-notificator>

<div class="user-form">
  <div class="user-form__container">
    <div class="user-form__row user-form__row_name">
      <div class="user-form__col user-form__col_name-title">
        <p class="user-form__elem_title user-form__elem_user-name">User name:</p>
      </div>
      <div class="user-form__col user-form__col_name-input">
        <input class="user-form__elem_input user-form__elem_user-name-input"
               #input1
               [(ngModel)]="commitsService.userName" 
               (ngModelChange)="commitsService.saveUserLS()" 
               (keyup.enter)="input2.focus()" 
               type="text"
               (focus)="$event.target.select()">
      </div>
    </div>
    <div class="user-form__row user-form__row_repo">
      <div class="user-form__col user-form__col_repo-title">
        <p class="user-form__elem_title user-form__elem_repo-title">User repo:</p>
      </div>
      <div class="user-form__col user-form__col_repo-input">
        <input class="user-form__elem_input user-form__elem_repo-input"
               #input2 
               [(ngModel)]="commitsService.userRepo" 
               (ngModelChange)="commitsService.saveUserLS()" 
               (keyup.enter)="getCommits()" 
               type="text"
               (focus)="$event.target.select()">
        <p class="text-link"
           (click)="commitsService.resetUser()">
             fill in with defaults
        </p>
      </div>
    </div>
    <div class="user-form__row user-form__row_button">
      <div class="user-form__col user-form__col_button">
        <button class="submit-button"
                (click)="getCommits()">
                  Get commits
        </button>
      </div>
    </div>
  </div>
</div>

<div class="pagination" *ngIf="links">
  <p class="pagination__title">pagination</p>
  <div class="pagination__container">
    <div class="pagination__row">
      <button class="pagination__button"
              *ngFor="let link of links" 
              (click)="getCommits(link.link)">
                {{link.name}}
      </button>
    </div>
  </div>
</div>

<div class="github" *ngIf="errorMessage || commits">
  <p class="github__title">github response</p>
  <div class="github__container">
    <div class="github__row github__row_succes">
      <div class="github__col github__col_succes">
        <a href="" class="github__link"
          *ngFor="let commit of commits"
          (click)="commitsService.commitHash = commit.sha"
           routerLink="/commits/{{commit.sha}}">
          <div class="github__subcol github__subcol_succes_number">
            <p class="github__link_number">{{(commits.indexOf(commit)+1)+10*(commitsService.page-1)}}. </p>
          </div>
          <div class="github__subcol github__subcol_succes_item">
            <p class="github__link_text">{{commit.commit.message}}</p>
          </div>
        </a>
      </div>
    </div>
    <div class="github__row github__row_error" *ngIf="errorMessage">
      <div class="github__col github__col_error">
        <h2 class="github__error_title">{{errorMessage.title}}</h2>
        <h4 class="github__error_text">{{errorMessage.body}}</h4>
      </div>
    </div>
  </div>
</div>
