<span (click)="log(page)">User name:</span><input id="user-name" 
                                                  #input1
                                                  [(ngModel)]="commitsService.userName" 
                                                  (ngModelChange)="commitsService.saveUserLS()" 
                                                  (keyup.enter)="setFocusOnInputUserRepo()" 
                                                  type="text"
                                                  (focus)="$event.target.select()">
<span>User repo:</span><input id="user-repo" 
                              #input2 
                              [(ngModel)]="commitsService.userRepo" 
                              (ngModelChange)="commitsService.saveUserLS()" 
                              (keyup.enter)="getCommits()" 
                              type="text"
                              (focus)="$event.target.select()">
<button (click)="getCommits()">Get commits</button>
<button (click)="commitsService.resetUser()">fill in with defaults</button>

<div class="github">
  <div class="pagination">
    <button *ngFor="let link of links" (click)="getCommits(link.link)">{{link.name}}</button>
  </div>
  <div class="list">
    <a *ngFor="let commit of commits"
        (click)="commitsService.commitHash = commit.sha"
        routerLink="/commits/{{commit.sha}}">
      <p><span>{{(commits.indexOf(commit)+1)+10*(commitsService.page-1)}}. </span><span>{{commit.commit.message}}</span></p>
    </a>
  </div>
  <div class="error-message" *ngIf="errorMessage">
    <h4>{{errorMessage.title}}</h4>
    <h4>{{errorMessage.body}}</h4>
  </div>
</div>
