/*Commits input form block*/
.user-form {
  margin-bottom: 50px;
}

.user-form__container {
  max-width: 300px;
  margin: auto;
}

.user-form__row {
  margin-bottom: 20px;
}

.user-form__col {
  text-align: center;
}

.user-form__elem_title {
  font-size: 1.5rem;
  margin: 0 0 7px;
}

.text-link {
  font-size: .8rem;
  margin: 10px 0 0;
  cursor: pointer;
  display: inline;
}
.text-link:hover {
  outline-bottom: 1px dotted #888;
}

.user-form__row_button {
  margin-top: 30px;
}

.submit-button {
  width: calc(100% - 4px);
}



@media (min-width: 1000px) {
  .user-form {
    margin-bottom: 10px;
  }

  .user-form__container {
    display: flex;
    max-width: 100%;
    justify-content: space-evenly;
  }

  .user-form__elem_repo-input {
    display: block;
  }

  .user-form__row_button {
    margin-top: 37px;
  }

  .submit-button {
    width: 300px;
  }
}



/*Pagination block*/
.pagination {
  position: relative;
}

.pagination__title {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translate(-50%, -140%);
  z-index: 10;
  background-color: white;
  padding: 0 20px;
}

.pagination__container {
  max-width: 800px;
  width: fit-content;
  margin: auto;
  border-radius: 5px;
  border: 2px solid #cccccc;
  transition: .5s box-shadow;
}
.pagination__container:hover {
  box-shadow: 0 0 10px 0px #cccccc;
}

.pagination__row {
  display: flex;
  justify-content: space-evenly;
  padding: 0;
}

.pagination__button {
  width: 150px;
  margin: 20px;
}

@media (max-width: 860px) {
  .pagination__row {
    display: grid;
  }
}



/*commit response block*/
